/* General Settings */

* {
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgba(175, 225, 245, 0.4);
}

/* Header Settings */

header {
    padding: 15px 10px 1px 15px;
    background-color: white;
    border-top: 2px solid rgb(175, 225, 245);
}

.logotext {
    height: 100px;
}

.logotext img {
    vertical-align: middle;
}

.logotext span {
    display: inline-block;
    line-height: 84px;
    vertical-align: middle;
    font-size: 50px;
}

/* Main Settings */

#conteiner {
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 80px;
    border-radius: 10px;
}

/* Section 1 */

.conteiner-button {
    height: 60px;
    border-bottom: 1px solid rgb(175, 225, 245);
}

.radius {
    border-radius: 10px;
    padding: 5px;
}

.radius2 {
    border-radius: 20px;
    padding: 8px;
    color: white;
}

.first {
    background-color: rgb(29, 100, 158);
    color: white;
    display: inline-block;  
    margin-top: 15px;
    margin-left: 90px;
    padding: 7px;
}

.second {
    border: 1px solid grey;
    color: grey;
    display: inline-block;
}

/* Section 2 */

.sections {
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.sections div {
    font-size: 20px;
    font-weight: 30px;
}

.margindiv {
    margin-bottom: 30px;
}

.blue {
    background-color: rgb(29, 100, 158);
    font-size: 15px;
}

.purple {
    background-color: rgb(122, 70, 180);
    font-size: 15px;
}

.green {
    background-color: rgb(93, 160, 118);
    font-size: 15px;
}

.orange {
    background-color: rgb(255, 166, 0);
    font-size: 15px;
}

.pink {
    background-color: rgb(165, 56, 92);
    font-size: 15px;
}

.littlegreen {
    background-color: rgb(79, 116, 25);
    font-size: 15px;
}

.img {
    height: 25px;
}